table, tr, th, td {
    border: 1px,solid, black;
}

table {
    background-color: aqua;
}

tr {
    background-color: blueviolet;
}

th {
    background-color: chartreuse;
}

td {
    background-color: darkgreen;
}