/* General setup */

@font-face {
  font-family: 'Alex Brush';
  src: url('fonts/AlexBrush-Regular.woff2') format('woff2'),
      url('fonts/AlexBrush-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('fonts/Exo-Regular.woff2') format('woff2'),
      url('fonts/Exo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



body {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

/* Typography */



h1 {
  font-size: 3.2rem;
  font-family: 'ALex Brush';
}

h2 {
  font-size: 2.4rem;
}

p {
  font-size: 1.4rem;
  line-height: 1.6;
  word-spacing: 0.6rem;
  font-family: 'Exo';
}